{% extends 'SonataAdminBundle:Core:user_block.html.twig' %}

{% block user_block %}
	<a href="{{ path('user_edit_page') }}">{{ "User Settings"|trans }}</a> |
	<a href="{{ path('logout') }}">{{ "Logout"|trans }}</a>
    {# {{ locale_switcher(null, null, 'BiapyCyrusBundle:Admin:switcher_links.html.twig') }} #}
    {{ parent() }}
{% endblock %}