{% extends 'BiapyCyrusBundle::layout.html.twig' %}

{% block title %}
	{%  if toAdmins is defined %}
		Recovery password of {{ user }}
	{%  endif %}
	{%  if toUser is defined%}
		Recovery
	{%  endif %}
{% endblock %}

{% block bar %}{% endblock %}

{%  block body %}
	<div class="sonata-bc">
		<div class="connection">
			{%  if toAdmins is defined%}

				<p>User {{ user }} requested a password recovery the {{ date|date('Y-m-d') }} at {{ date|date('H:i:s') }}</p>
				<p>The user wrote this custom message:<br />{{ added_message }}

			{% endif %}

			{%  if toUser  is defined%}

					<p>	Hello {{ user }}<br />
						You asked for a password recovery the {{ date|date('Y-m-d') }} at {{ date|date('H:i:s') }}. If you didn't, please ignore this mail.<br />
						In order to recover your password, please follow the link:<br />
						<a href="{{ baseurl }}{{ path('recovery_token_page', { 'token': token }) }}">I want to recover my password!</a>
					</p>

			{% endif %}
		</div>
	</div>
{% endblock %}