{% extends 'BiapyCyrusBundle::layout.html.twig' %}

{% block title %}
	{%  if toAdmins %}
		Recovery password of {{ user }}
	{%  endif %}
	{%  if toUser %}
		Recovery
	{%  endif %}
{% endblock %}
	


{%  block body %}
	<div class="sonata-bc">
			{%  if toAdmins %}
		
				<p>User {{ user }} request a password recovery the {{ date|date('Y-m-d') }} at {{ date|date('H:i:s') }}</p>
		
			{% endif %}
		
			{%  if toUser %}
			
					<p>	Hello {{ user }}<br />
						You asked for a password recovery the {{ date|date('Y-m-d') }} at {{ date|date('H:i:s') }}. If you didn't, please ignore this mail.<br />
						In order to recover your password, please follow the link:<br />
						<a href="http://192.168.1.85{{ path('recovery_token_page', { 'token': token }) }}">http://192.168.1.85{{ path('recovery_token_page', { 'token': token }) }}</a>
					</p>
		
			{% endif %}
	</div>
{% endblock %}