<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{%  block title %} {%  endblock %}</title>
		
		<!-- Using Sonata AdminBundle stylesheet -->
		{% block stylesheets %}
			<!-- Sonata AdminBundle stylesheets -->
		    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all"  />
		    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
		    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css" media="all" />
		    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css" media="all" />
		{% endblock %}

        {% block javascripts %}
	    {% endblock %}
	</head>

	<body>
		{% block bar %}
			<div class="sonata-bc sonata-ba-no-side-menu">
				<div class="navbar navbar-fixed-top">
					<div class="navbar-inner">
					
						<div class="container-fluid">
							<div class="navbar-text pull-left">
							<img src="/cyrus-admin/web/bundles/sonataadmin/logo_title.png" alt="Cyrus Admin">Cyrus Admin
							</div>
							<div class="navbar-text pull-right">
								
						        {{ include('BiapyCyrusBundle:Admin:admin_topnav.html.twig') }}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
		{%  block body %}
		{%  endblock %}

	</body>
</html>